<!DOCTYPE html>
<html>
<head>
  <title>Locadora de Filmes</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
  <div id="app">
    <h1>Locadora de Filmes</h1>
    <!--Catálogo-->
    <h2 v-if="currentSection === 'Filmes'">Filmes Disponíveis</h2>
    <ul v-if="currentSection === 'Filmes'">
      <li v-for="movie in movies" :key="movie.id" class="movie-item">
        <span>{{ movie.name }}</span>
        <button @click="addTocarrinho(movie)" :disabled="!isLoggedIn || isMovieIncarrinho(movie)">Alugar</button>
      </li>
    </ul>
    <!--Carrinho-->
    <h2 v-if="currentSection === 'carrinho'"><img src="carrinho.png" alt="Ícone Carrinho" style="width: 30px; height: 30px; margin-right: 10px;">Carrinho</h2>
    <ul v-if="currentSection === 'carrinho'">
      <li v-for="movie in carrinho" :key="movie.id" class="movie-item">
        <span>{{ movie.name }}</span>
        <button class="remove-button" @click="removeFromcarrinho(movie)">Remover</button>
      </li>
    </ul>
    <!--Home-->
    <h2 v-if="currentSection === 'showPaginaInicial'">Formulário de Cadastro</h2>
    <form v-if="currentSection === 'showPaginaInicial'" @submit="registerUser">
      <label for="registerUsername">Nome de Usuário:</label>
      <input type="text" id="registerUsername" v-model="registerData.username" required><br>
      <label for="registerPassword">Senha:</label>
      <input type="password" id="registerPassword" v-model="registerData.password" required><br>
      <button type="submit">Cadastrar</button>
    </form>

    <div>
      <button @click="showPaginaInicial">Cadastrar e Logar Usuário</button>
      <button @click="showFilmes" :disabled="!isLoggedIn">Alugar Filmes</button>
      <button @click="Filmes">Filmes Alugados</button>
    </div>
  </div>
  <script src="../public/js/vue.js"></script>
</body>
</html>